.board {
    background-color:#BFDBAE;
    width:584.4px;
    height:584.4px;
    /* position: fixed;
    top: 100px;
    right: 100px; */
    display: grid;
    gap: 0px;
    grid-template-columns: 79px 424.8px 79px ;
    grid-template-rows: 79px 424.8px 79px;
}

.side1{
    grid-area: 3 / 2 / 3 / 4;
} 


.side2{
    grid-area: 2 / 1 / 4 / 1;

}
.side3{
    grid-area: 1 / 1 / 1 / 3;
}
.side4{
    grid-area: 1 / 3 / 3 / 3;

}
.middle{
    width: 424.8px;
    height: 424.8px;
    border: solid black 1.5px;
    grid-area: 2 / 2 / 3 / 3;
    
}